- if !@user.courses == []
  %h4 I have made the following courses
  - @user.courses.each do |course|
    %b= "#{course.name} costs #{number_to_currency(course.price)}"
%p
  = link_to "Make a new course", new_course_path, class: "btn btn-success"
