%br
.jumbotron
  %h1 Welcome to Parrotscholar
  %p This is an online education platform
  %p Allowing users to pick what they want to learn, the students they want to learn it with
  %p the teachers they want to learn it from, at the time they want, and the most reasonable prices
